html {
    height: 100%;
}

body {
    /* background-image: linear-gradient(to right, rgba(0, 0, 0, .04) 1px, transparent 1px), linear-gradient(to bottom, rgba(0, 0, 0, .04) 1px, transparent 1px);
	background-size: 7px 7px; */
    font-family: 'LXGW WenKai Lite', IBM Plex Mono, monospace;
    color: #2e405b;
    line-height: normal;
    height: inherit;
}

.container {
    margin: 0 auto;
    max-width: 56rem;
    width: 100%;
}

.link {
    /* @apply hover:underline underline-offset-4; */
    @apply hover:text-sky-500;
}

@keyframes fade-in-up {
    0% {
        transform: translateY(-2rem);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.onload-animation {
    opacity: 0;
    animation: 200ms fade-in-up;
    animation-fill-mode: forwards;
}