---
import { getCollection } from "astro:content";
import Layout from "../layouts/MainLayout.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

export async function getStaticPaths({ paginate }: any) {
    const allBlogPosts = await getCollection("posts");
    return paginate(allBlogPosts, { pageSize: 1 });
}

const { page }: any = Astro.props;
---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION}>
    <section>
        <ul>
            {page.data.map(({ data, slug }: any) => <li>{slug}{data.title}</li>)}
        </ul>
    </section>
</Layout>
