---
import Layout from "../layouts/MainLayout.astro";
import { url } from "../utils/url-tuils";
---

<Layout title="搜索">
  <div id="search"></div>
  <!-- <script is:inline>
    new PagefindUI({ element: "#search", resetStyles: false, showImages: false });
  </script> -->
</Layout>

<script is:inline define:vars={{scriptUrl: url('/pagefind/pagefind.js')}}>
  async function loadPagefind() {
      const pagefind = await import(scriptUrl)
      await pagefind.options({
          'excerptLength': 20
      })
      pagefind.init()
      window.pagefind = pagefind
      const search = await pagefind.search('标题')     // speed up the first search
      console.log(await search.results[0].data());
  }
  loadPagefind()
</script>

  
