---
const today = new Date();
---

<footer class="container">
	<div class="p-4 mx-auto text-xs gap-1 flex flex-col">
		<div class="text-center">Copyright &copy; {today.getFullYear()} <a href="https://kongliu.net" target="_blank" class="hover:underline underline-offset-2">KongLiu</a></div>
		<div class="text-center"><a href="https://beian.miit.gov.cn/" target="_blank" class="hover:underline underline-offset-2">粤ICP备2024236056号</a></div>
		<div class="text-center">本站点由<a href="https://www.upyun.com/?utm_source=lianmeng&utm_medium=referral" target="_blank" class="hover:underline underline-offset-2">又拍云</a>提供CDN服务</div>
	</div>
</footer>