---

---

<header class="transition">
	<div class="max-w-3xl flex mx-auto p-4 md:px-4 md:py-8 justify-between">
		<span class="text-nowrap text-2xl leading-8 py-1 font-semibold font-serif"> 咸鱼的日常 </span>
		<nav class="w-full flex flex-row justify-end items-center">
			<div class="hidden md:block">
				<ul class="gap-x-5 font-bold items-center flex">
					<li><a href="/">文章</a></li>
					<li><a href="/archive">归档</a></li>
					<li><a href="/tags">标签</a></li>
					<li><a href="/about">关于</a></li>
					<!-- <li><a href="/rss.xml" target="_blank" class="flex"><span class="iconify mdi--rss text-xl"></span></a></li> -->
					<li><a href="/search">搜索</a></li>
					<!-- <li><a href="/rss.xml" target="_blank">RSS</a></li> -->
				</ul>
			</div>
			<div class="md:hidden">
				<button id="nav-menu-switch" class="flex">
					<span class="iconify mdi--menu text-2xl"></span>
					<span class="iconify mdi--close text-2xl"></span>
				</button>
			</div>
		</nav>
	</div>
	<div class="md:hidden">
		<nav id="nav-menu" class="hidden">
			<ul class="text-center font-bold">
				<li class="py-1"><a href="/">文章</a></li>
				<li class="py-1"><a href="/archive">归档</a></li>
				<li class="py-1"><a href="/tags">标签</a></li>
				<li class="py-1"><a href="/about">关于</a></li>
				<li class="py-1"><a href="/search">搜索</a></li>
			</ul>
		</nav>
	</div>
</header>

<style>
	#nav-menu-switch.is-action .mdi--menu {
		display: none;
	}

	#nav-menu-switch .mdi--close {
		display: none;
	}

	#nav-menu-switch.is-action .mdi--close {
		display: inline;
	}
</style>

<script>
	const navMenuSwitch = document.getElementById("nav-menu-switch")
	const navMenu = document.getElementById("nav-menu")
	navMenuSwitch?.addEventListener('click', () => {
		navMenuSwitch.classList.toggle("is-action")
		navMenu?.classList.toggle("hidden")
	})
</script>
