---
import BaseHead from "../components/BaseHead.astro";
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro'

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="zh-CN">
    <head>
        <BaseHead title={title} description={description} />
    </head>
    <body class="flex flex-col">
        <Header />
        <main class="flex-1">
            <div class="max-w-3xl px-4 mx-auto flex-1">
                <slot />
            </div>
        </main>
        <Footer />
    </body>
</html>

<style is:global>
a{
    padding: 1px 2px;
    /* text-decoration-line: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 4px; */
    @apply transition-colors duration-200 ease-in;
}

a:hover {
    color: white;
    background-color: #2e405b;
    /* text-decoration-line: none; */
}
</style>
